.Elagage {
    width: 60%;
    display: block;
    margin-left: 10%;
    padding: 25px;
    font-size: 25px;
}

.ImageWrapper {
    width: 100%;
    margin: 50px auto;
}



.ImageAfter1 {
    width: 550px;
    height: 450px;
}

.Image1 {
    height: 100%;
    width: 100%;
}


.Image2 {
    height: 100%;
    width: 100%;
}

.ImageBeforeAfter p{
text-align: center;
}

@media screen and (max-width: 1200px) {
    .Elagage {
        width: 100%;
        margin-left: 0%;
        padding: 10px;
    }
    .ImageWrapper {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .ImageBeforeAfter{
        width: 100%;
        margin-top: 25px;
    }
}