@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');

.Container_entreprise,
.Container_lucas,
.Container_vision{
    display: flex;
}

.Entreprise,
.Vision,
.Lucas {
    width: 50%;
    padding: 50px;
    line-height: 2.6;
    
}

.Container_entreprise h4,
.Container_lucas h4,
.Container_vision h4 {
    text-align: center;
    font-size: 35px;
}

.Photo1{
    width: 50%;
    height: 550px;
    background-image: url('https://www.ludoviccareme.com/files/image_211_image_fr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-right: 15px;
}

.Photo2{
    width: 45%;
    height: 550px;
    background-image: url('https://www.ludoviccareme.com/files/image_211_image_fr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-right: 15px;
}

    @media screen and (max-width: 1200px) {

    .Container_entreprise,
    .Container_lucas,
    .Container_vision{
        display: flex;
        flex-direction: column;
    }

    .Entreprise,
    .Vision,
    .Lucas {
        width: 100%;
    }

    .Photo1,
    .Photo2,
    .Photo3 {
        width: 90%;
        margin: 0 auto;
    }

    .Photo2{
        order: 2;
    }
}

.Title {
    font-size: 50px;
    font-weight: 600;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Gotu', sans-serif;
    margin-top: 50px;
}