.Input {
    width: 100%;
    margin: 0 auto;
}

.CommentTitle {
    text-align: center;
}

.BtnClose {
    width: 25%;
    margin: 30px auto 0px auto;
}

@media screen and (max-width: 992px) {
    .paper {
        width: 300px;
    }
}

.Body1 {
    width: 500px;
    height: 450px;
    display: block;
    margin: 250px auto;
}