@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.Form {
    margin: 50px auto;
    width: 40%;
}

.Input {
    width: 700px;
    margin-top: 25px;
}

h4 {
    padding-top: 50px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1200px) {

    .Form{
        width: 80%
    }
}