.Logo{
    width: 117px;
    height: 117px;
    background-image: url('https://de.cdn-website.com/fb5708e45c6746aa8959c274260fff1c/dms3rep/multi/Capture-f616608f.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}