@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.Navbar {
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    position: fixed;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-shadow: black 1px 0 10px;
    font-family: 'Roboto', sans-serif;
    z-index: 9999;

}
.Navbar a{
    color: white;
}

.AllItems {
    display: flex;
    justify-content: flex-end;
}

.navItems {
    padding: 35px;
    margin-top: 8px;
}

.navItems:hover {
    cursor: pointer;
    text-decoration: underline;
    top: 1px;
}
