.Image {
    margin-top: -15px;
    width: 100%;
    height: 1000px;
    background-image: url('https://p3.storage.canalblog.com/34/95/463911/111271800_o.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}   

.Details {
    position: absolute;
    top: 30%;
    width: 60%;
    margin-left: 200px;
    color: white;
    font-size: 35px;
    text-shadow: black 1px 0 10px;
    line-height: 1.6;
}