.Title {
    font-size: 50px;
    font-weight: 600;
    width: 80%;
    text-align: center;
    margin: 50px auto;
    font-family: 'Gotu', sans-serif;
    margin-top: 50px;
}

.Contact {
    padding: 25px;
    
}

.Container {
    display: flex;
    justify-content: center;
}