.Title {
    font-size: 50px;
    font-weight: 600;
    width: 80%;
    text-align: center;
    margin: 50px auto;
    font-family: 'Gotu', sans-serif;
    margin-top: 50px;
}

.Contact {
    padding: 50px;
    font-size: 25px;
    width: 25%;
    
}

.Container {
    display: flex;
    justify-content: center;
}

.LogoContainer {
    display: flex;
}

@media screen and (max-width: 1200px) {
    .Container {
        flex-direction: column;
    }
    .Contact {
        width: 100%;
        padding: 10px;
    }
}