
.Carousel {
    height: 500px;
    width: 60%;
    margin: 50px auto 50px auto;
}



.Carousel div {
    height: 500px;
}
.Carousel div img {
    width: auto;
    height: auto;
}

.Image1{
    background-image: url('../../photos/photo6.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Image2{
    background-image: url('../../photos/photo4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Image3{
    background-image: url('../../photos/photo12.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@media screen and (max-width: 1200px) {
    .Carousel {
        width: 100%;
    }

}