.Abattage {
    width: 60%;
    display: block;
    margin-left: 10%;
    padding: 25px;
    font-size: 25px;
}

.ImageWrapper2 {
    display: flex;
    width: 80%;
    margin: 50px auto;
}

.ImageAbattage1 {
    width: 450px;
    height: 350px;

}

.ImageAbattage2 {
    width: 450px;
    height: 350px;
}

.ImageAbattage3 {
    width: 450px;
    height: 350px;
}

.Image1 {
    height: 100%;
    width: 100%;
}


.Image2 {
    height: 100%;
    width: 100%;
}

.ImageAbattage1 p,
.ImageAbattage2 p,
.ImageAbattage3 p,
.ImageAbattage4 p{
text-align: center;
}

.Sécurité {
    width: 60%;
    display: block;
    margin-left: 10%;
    padding: 25px;
    font-size: 25px;
}


@media screen and (max-width: 1200px) {
    .Abattage,
    .Sécurité {
        width: 100%;
        margin-left: 0%;
        padding: 10px;
    }
    .ImageWrapper2 {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .ImageAbattage1,
    .ImageAbattage2,
    .ImageAbattage3,
    .ImageAbattage4 {
        width: 100%;
        margin-top: 25px;
    }
}