.CommentBox {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    flex-wrap: wrap;
    width: 80%;
}

.Comment {
    width: 300px;
    height: 200px;
    padding: 15px;
    margin: 15px;
    word-wrap: break-word
}

.Text {

}

.Name{
    float: right;
    color: #559857;
    font-weight: 800;
}

.StarBox {
    display: flex;
}

.AddButton {
display: flex;
justify-content: center;

}

.LatestComments{
    text-align: center;
}